* {
  margin: 0;
  padding: 0;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1280px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

.left-container {
  width: 830px;
  height: 800px;
  background-color: #FFEDF7;
}

.left-container-content {
  width: 445px;
  height: 800px;
  padding-left: 85px;
  padding-top: 45px;
}

.left-container-content-inputarea {
  width: 475px;
  height: 201px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.left-container-content-inputarea input {
  width: 439px;
  height: 56px;
  padding-left: 16px;
  color: #FF4384;
  border: none;
  font-family: 'Roboto', sans-serif;
}

.left-container-content-inputarea i {
  color: #FF4384;
  position: relative;
  right: 36px;
  top: 16px;
}

.left-container-content-inputarea ::-webkit-input-placeholder {
  color: #FF4384;
}

.left-container-content-inputarea :-ms-input-placeholder {
  color: #FF4384;
}

.left-container-content-inputarea ::-ms-input-placeholder {
  color: #FF4384;
}

.left-container-content-inputarea ::placeholder {
  color: #FF4384;
}

.left-container-content-firsttodo {
  width: 100%;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.left-container-content-firsttodo-precircle {
  border-radius: 48px;
  width: 48px;
  height: 50px;
  border: 2px solid #003164;
  margin-right: 15px;
  display: inline-block;
}

.left-container-content-firsttodo-title {
  font-size: 24px;
}

.left-container-content-firsttodo-nextcircle {
  border-radius: 48px;
  width: 12px;
  height: 12px;
  border: 1px solid #FF4384;
  display: inline-block;
  position: absolute;
  left: 66px;
  top: 35px;
}

.left-container-content-time {
  width: 454px;
  height: 300px;
  text-align: center;
}

.left-container-content-time span {
  font-size: 176px;
  color: #FF4384;
}

.left-container-content-moretodo {
  width: 100%;
  height: 199px;
}

.left-container-content-moretodo-item {
  width: 454px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  border-bottom: 1px solid #707070;
}

.left-container-content-moretodo-item .content {
  width: 411px;
}

.left-container-content-moretodo-item span {
  border-radius: 48px;
  width: 16px;
  height: 16px;
  border: 2px solid #003164;
  display: inline-block;
}

.left-container-content-moretodo-item a {
  margin-left: 4px;
}

.left-container-content-moretodo-item i {
  cursor: pointer;
}

.left-container-content-moretodo-moreitem {
  width: 454px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #FF4384;
  font-size: 16px;
}

.left-container-content-moretodo-moreitem span {
  cursor: pointer;
}

.right-container {
  width: 450px;
  height: 800px;
  background-color: #003164;
  position: relative;
}

.right-container-circleborder {
  position: absolute;
  width: 540px;
  height: 540px;
  top: 132px;
  right: 175px;
  border: 4px solid #FF4384;
  border-radius: 55%;
}

.right-container-circle {
  position: absolute;
  width: 520px;
  height: 520px;
  top: 145px;
  right: 190px;
  background-color: #FF4384;
  border-radius: 55%;
}

.right-container-stopdot {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 428px;
  left: 60px;
  background-color: white;
  cursor: pointer;
}

.right-container-player i {
  font-size: 96px;
  color: #ffffff;
  position: absolute;
  cursor: pointer;
  top: 360px;
  right: 400px;
}

.right-container-pagelist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 48px;
  height: 204px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.right-container-pagelist li {
  width: 365px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
}

.right-container-pagelist i {
  font-size: 36px;
  color: #ffffff;
  cursor: pointer;
}

.right-container-pomo {
  position: absolute;
  width: 165px;
  height: 36px;
  top: 575px;
  right: 80px;
  color: white;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-family: Futura;
  font-size: 2.4rem;
  font-weight: bold;
}
/*# sourceMappingURL=main.css.map */