*{
    margin:0;
    padding:0;
}

.todocontainer{
    display: flex;
    width:1280px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.left-todocontainer{
    width:475px;
    height:800px;
    background-color: #003164;
    padding-left: 85px;
    &-pagelist{
        display: flex;
        flex-direction: column;
        padding-top:48px;
        padding-bottom: 373px;
        height: 204px;
        justify-content: space-between;
        color: rgb(59, 89, 127);
        li{
            width:365px;
            display:flex;
            list-style: none;
        }
        i{
            font-size: 36px;
            cursor: pointer;
        }
        span{
            font-size: 36px;
            font-weight: bold;
            margin-left: 20px;
            cursor: pointer;
        }
        &-mainpage{
            color: rgb(255, 67, 132);
        }
    }
    &-clockarea{
        width:350px;
        height:175px;
        border-top-left-radius:350px;
        border-top-right-radius:350px;
        background-color: #FFEDF7;
        position: relative;
        &-circleoutborder{
            position: absolute;
            width: 136px;
            height: 136px;
            bottom: 104px;
            right: 106px;
            border-radius: 55%;
            background-color: #003164;
        }
        &-circleborder{
            position: absolute;
            width: 116px;
            height: 116px;
            bottom: 110px;
            right: 111px;
            border: 4px solid #FF4384;
            border-radius: 55%;
            background-color: #003164;
        }
        &-circle{
            position: absolute;
            width: 96px;
            height: 96px;
            bottom: 124px;
            right: 125px;
            background-color: #FF4384;
            border-radius: 55%;
        }
        &-playready i{
            position: absolute;
            left: 150px;
            bottom: 143px;
            font-size: 57px;
            color: white;
            cursor: pointer;
        }
        &-content{
            padding-top: 67px;
            text-align: center;
            .time{
                font-size:64px;
                color:#FF4384;
            }
            p{
                color:#003164;
            }
        }
    }
}

.right-todocontainer{
    width:720px;
    height:800px;
    background-color: #003164;
    &-content{
        width:445px;
        height:800px;
        position: relative;
        &-inputarea{
            width: 469px;
            height:107px;
            padding-top: 48px;
            display: flex;
            input{
                width:429px;
                height:56px;
                padding-left:16px;
                color: #FF4384;
                border: none;
                font-family: 'Roboto', sans-serif;
            }
            i{
                color: #FF4384;
                position: relative;
                right: 36px;
                top: 16px;
            }
            ::placeholder {
                color: #FF4384;
            }  
        }
        &-todobody{
            width:445px;
            height:645px;
            &-todotitle{
                height: 44px;
                width: 100%;
                box-sizing: border-box;
                background-color: rgba(255,255,255,.2);
                padding: 8px 16px;
                font-size: 24px;
                color: #fff;
                font-weight: bolder;
                display: flex;
                align-items: center;
                margin-bottom: 16px;
                cursor: pointer;
                .up-button{
                    margin-left: auto;
                }
            }
            &-item{
                width:445px;
                height:32px;
                display: flex;
                margin-bottom: 10px;
                border-bottom: 1px solid #707070;
                color:white;
                .content{
                    width:401px;
                }
                span{
                    border-radius: 48px;
                    width: 16px;
                    height: 16px;
                    border: 2px solid white;
                    display: inline-block;
                }
                a{
                    margin-left: 9px;
                }
            }
            &-pomo{
                position: absolute;
                width: 165px;
                height: 36px;
                top: 575px;
                left: 480px;
                color: white;
                writing-mode: vertical-rl;
                font-family: Futura;
                font-size: 2.4rem;
                font-weight: bold;   
            }
            .close-button{
                position: absolute;
                top: 38px;
                left: 600px;
                font-size: 48px;
                color: white;
                cursor: pointer;
            }
        }
    }
}